.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    margin-left: 1rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    margin-left: 1rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.aboutBtn{
    margin-left: 1rem   ;
}